@font-face {
    font-family: "Star Wars";
    src: 
         url('fonts/starwars.eot');
}

body{
    margin: 0;
    height: 100vh;
    color: yellow;
}


canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#starwars {
    perspective: 200px;
    text-align: center;
    padding-top: 200px;
    text-justify: inter-word;
  }
  
  #starwars-text {
    font-family: Star Wars;
    font-size: 3.6em;
    transform: rotateX(25deg);
    width: 80%;
    margin: 0 auto;

  }

  .jedi{
      margin-top: 70px;
      font-size: 50px;
      position: absolute;
      margin-left: 70px;
   
  }

  input[type=checkbox]:checked ~ .jedi {
    color: blue;
  }

  input{
    display: none;
  }

  .mission{
    font-size: 50px;
    margin-top: 80px;
    position: absolute;
    right: 90px;  

  }